<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <h1>Resultado de búsqueda</h1>

    <% for(let i=0; i < resultados.length; i++) { %>
        <a href= "/movies/detail/<%= resultados[i].id %>" ></a><h3><%= resultados[i].title %></h3></a>
     <% } %>
    
</body>
</html>